In [ ]:
import pymssql

In [ ]:
# Coneect to the DB

cnx = {
    'host': 'aws',
    'username': ...
    'password': ...
    'db': 'classroomDB'
}

connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

connection.close()

In [ ]:
# Create table
connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

cursor = connection.cursor()

create_table = """
        CREATE TABLE classroom (
        student_id INTEGER PRIMARY KEY,
        name VARCHAR(20),
        gender CHAR(1),
        physics_marks INTEGER,
        chemistry_marks INTEGER,
        math_marks INTEGER
        
        );

"""

In [ ]:
#Sample DATA
classroom_data = [(1, 'Erdem', 'M', 70, 89, 60),
                  (2, 'Birkan', 'F', 89, 78, 90),
                  (3, 'Burak', 'M', 89, 99, 95), 
                  (4, 'Tara', 'F', 99, 98, 95)]

connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

cursor = connection.cursor()

for student in classroom_data:
    insert_statement = """ INSERT INTO classroom
                        (student_id, name, gender, physics_marks, chemistry_marks, math_marks)
                        VALUES
                        ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                        student[3], student[4], student[5]);
    cursor.execute(insert_statement)

connection.commit()
connection.close()

In [ ]:
# Extract Data
connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

cursor = connection.cursor()

query = "SELECT * FROM classroom"

cursor.execute(query)

result = cursor.fetchall()

for row in result:
    print(row)

connection.close()